<h1> Welcome to Stardrink Competition Event</h1>
<h2> Register yourself now !! </h2>

<%= form_with model: @participant, class: "nifty_form" do |f| %>
    <% if @token != nil %>
        <%= hidden_field_tag :invite_token, @token %>
    <% end %>

    <%= f.label :first_name %> <br />
    <%= f.text_field :first_name %> <br />

    <%= f.label :last_name %> <br />
    <%= f.text_field :last_name %> <br />

    <%= f.label :phone_number %> <br />
    <%= f.text_field :phone_number %> <br />

    <%= f.label :email %> <br />
    <%= f.text_field :email %> <br />
    
    <%= f.submit "Submit" %>
<% end %>
